doctype html
html(lang='en')

    // Just need a branded Apollo page that links to the following:
    //      original position piece,
    //      join the growing network on the DTHub,
    //      activity modelling toolset
    //         and in the future it will be 4 for the latest reports coming out.

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Apollo Protocol

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Masthead
        header
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            img.mb-5.mt-5(src='assets/img/apollo.png', alt='...')

        // Icons Grid
        section.features-icons.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-file-richtext.m-auto.text-primary
                            h3 Position Piece
                            p.lead The Apollo Protocol: unifying digital twins across sectors, the paper that launched the initiative
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-diagram-3.m-auto.text-primary
                            h3 DTHub
                            p.lead Join the growing network on the Digital Twin Hub
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-wrench.m-auto.text-primary
                            h3 Activity Modeller
                            p.lead Learn and practice planning in a new way. Helping you discover all the information you need for complete decision making and resource planning.
                .row
                    .col-lg-4
                        a.btn.btn-primary(href='https://www.theiet.org/impact-society/factfiles/built-environment-factfiles/the-apollo-protocol-unifying-digital-twins-across-sectors/') Download
                    .col-lg-4
                        a.btn.btn-primary(href='#!') Join
                    .col-lg-4
                        a.btn.btn-primary(href='https://apollo-protocol.github.io/4d-activity-editor/') Visit

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='#!') Terms of Use
                            //- li.list-inline-item ⋅
                            //- li.list-inline-item
                            //-     a(href='#!') Privacy Policy
                        p.text-muted.small.mb-4.mb-lg-0 &copy; Apollo Protocol 2023. All Rights Reserved.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        //- ul.list-inline.mb-0
                        //-     li.list-inline-item.me-4
                        //-         a(href='#!')
                        //-             i.bi-facebook.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')